@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Assignment 1 - Thai Hoa Huynh</h1>
    <p class="lead">This web app allows users to display, add, edit and delete the venues stored in the database.</p>
</div>

